* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.background__container {
    background-image: url(./assets/background-body.jpg);
    width: 100%;
    height: 100%;
}

.header {
    background-color: #262626;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 10px 5px 0px rgba(120,111,111,0.75);
    -webkit-box-shadow: 2px 10px 5px 0px rgba(120,111,111,0.75);
    -moz-box-shadow: 2px 10px 5px 0px rgba(120,111,111,0.75);
}

.header img {
    width: 167px;
    height: 27px;
     margin: 0 10px;
}

.titulo {
    color: #e2e2e2;
    font-size: 25px;
    margin: 0px 20px;
    letter-spacing: 6px;
}

.nav-container li {
    display: flex;
    margin-right: 20px;
}

.icons-image ul img {
    width: 50px;
    height: 50px;
}

.introduccion__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    background-color: #e2e2e2;
    opacity: 0.7;
    padding: 30px;
    border-radius: 23px;
    text-align: center;
    margin-top: 114px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.introduccion__h2 {
    margin: 10px;
}

.introduccion__p {
    margin: 15px;
    font-size: 16px;
}

.carrusel__container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.carrusel__item {
    width: 800px;
    height: 400px;
    background-color: #e2e2e2;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.carrusel__item--escena1 {
    background-image: url(./assets/fonso/escenario\ 1.png);
}

.escena1__leer {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.texto {
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    background-color: #e6d8b2;
    margin: 15px;
    border-radius: 7px;
    position: relative;
    width: 40%;
    /* bottom: 30px; */
}

.firma {
    font-family: 'Bonheur Royale', cursive;
    font-size: 60px;
}

.arrastar {
    position: relative;
    top: 408px;
    /* transform-origin: 100% 50%; */
    animation: arrastrar 220s linear infinite;
}

@keyframes arrastrar {
   from {
       bottom: 408px;
   }
   to {
       top: -1550px;
   }
}

.texto p {
  margin-top: 10px;
}

.escribir {
    width: 40%;
    position: absolute;
    right: 31px;
    top: 130px;
}

.brazoIzquierdo {
    position: absolute;
    left: 93px;
    top: 65px;
    animation: brazo 220s linear infinite;
}

@keyframes brazo {
    0% {
        left: 93px;
    }
    1% {
        left: 103px;
    }
    10% {
        left: 93px;
    }
    11% {
        left: 103px;
    }
    20% {
        left: 93px;
    }
    21% {
        left: 103px;
    }
    30% {
        left: 93px;
    }
    31% {
        left: 103px;
    }
    40% {
        left: 93px;
    }
    41% {
        left: 103px;
    }
    50% {
        left: 93px;
    }
    51% {
        left: 103px;
    }
    60% {
        left: 93px;
    }
    61% {
        left: 103px;
    }
    70% {
        left: 93px;
    }
    71% {
        left: 103px;
    }
    80% {
        left: 93px;
    }
    81% {
        left: 103px;
    }
    90% {
        left: 93px;
    }
    91% {
        left: 103px;
    }
    100% {
        left: 93px;
    }
}

.carrusel__item--escena2 {
    position: relative;
    background-image: url(./assets/fonso/escenario2.png);
    overflow: hidden;
}

.nube__escena2 {
    position: absolute;    
    z-index: 1;
    top: 30px;
    left: -130px;
    animation: nube 60s linear infinite;
}

@keyframes nube {
    from {
        right: 130px;
    }
    to {
        left: 830px;
    }
}

.nautilus__escena2 img {
    position: absolute;
    z-index: 3;
    right: 155px;
    bottom: 40px;
    animation: barco 5s linear infinite;
}

@keyframes barco {
    0% {
        bottom: 45px;
    }
    50% {
        bottom: 40px;
    }
    100% {
        bottom: 45px;
    }
}

.texto__escena2 {
    background-color: #e6d8b2;
    margin: 30px;
    padding: 10px;
    z-index: 2;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 6px 5px 0px rgba(168,158,158,0.75);
    -webkit-box-shadow: 5px 6px 5px 0px rgba(168,158,158,0.75);
    -moz-box-shadow: 5px 6px 5px 0px rgba(168,158,158,0.75);
    position: absolute;
    left: 3px;
}

.fonso__escena2 {
    position: absolute;
    z-index: 3;
    bottom: 100px;
    animation: fonso2 30s linear infinite;
}

@keyframes fonso2 {
    from {
        right: 800px;
    }
    to {
        right: 400px;
    }
}

.ola__escena2 {
    width: 100%;
    height: 55px;
    position: absolute;
    background-color: #015871;
    top: 354px;
}

.carrusel__item--escena3 {
    position: relative;
    overflow: hidden;
    background-image: url(./assets/fonso/escenario3.png);
}

.nube__escena3 {
    position: absolute;    
    z-index: 2;
    top: 30px;
    left: -130px;
    animation: nube1 3s linear infinite;
}

@keyframes nube1 {
    from {
        right: 130px;
    }
    to {
        left: 830px;
    }
}

.nube1__escena3 {
    position: absolute;    
    z-index: 1;
    top: 45px;
    left: -130px;
    animation: nube2 5s linear infinite;
}

@keyframes nube2 {
    from {
        right: 130px;
    }
    to {
        left: 830px;
    }
}

.texto__escena3 {
    background-color: #e6d8b2;
    position: absolute;
    right: 0px;
    z-index: 3;
    margin: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 6px 5px 0px rgba(168,158,158,0.75);
    -webkit-box-shadow: 5px 6px 5px 0px rgba(168,158,158,0.75);
    -moz-box-shadow: 5px 6px 5px 0px rgba(168,158,158,0.75);
}

.nautilus__escena3 img {
    position: absolute;
    top: 154px;
    left: -400px;
    animation: ola 10s linear infinite;
    transform: rotate(-12deg);
}

@keyframes ola {
    0% {
        top: 80px;
        left: -400px;
    }
    50% {
        top: 124px;
        left: 400px;
    }
    100% {
        top: 80px;
        left: 810px;
    }
}

.ocean { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:-70PX;
    left:0;
    background: #015871;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }

.carrusel__item--escena4 {
    background-image: url(./assets/fonso/escenario4.png);
    position: relative;
    overflow: hidden;
}

.texto__escena4 {
    background-color: #e6d8b2;
    position: absolute;
    margin: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 6px 5px 0px rgba(168,158,158,0.75);
    -webkit-box-shadow: 5px 6px 5px 0px rgba(168,158,158,0.75);
    -moz-box-shadow: 5px 6px 5px 0px rgba(168,158,158,0.75);
}

.nautilus__escena4 {
    position: absolute;
    bottom: 10px;
    left: -152px;
    animation: barco4 60s linear infinite;
}

@keyframes barco4 {
    from {
        left: -152px;
    }
    to {
        left: 802px;
    }
}

.ola__escena4 {
    width: 100%;
    height: 15px;
    background-color: #021317;
    position: absolute;
    bottom: 0px;
}

.carrusel__item--escena5 {
    background-image: url(./assets/fonso/escenario5.png);
    position: relative;
}

.texto__escena5 {
    background-color: #e6d8b2;
    margin: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 6px 5px 0px rgba(168,158,158,0.75);
    -webkit-box-shadow: 5px 6px 5px 0px rgba(168,158,158,0.75);
    -moz-box-shadow: 5px 6px 5px 0px rgba(168,158,158,0.75);
    position: absolute;
    right: 3px;
}

.insignia {
    font-size: 25px;
    margin: 25px;
}

.insignia:hover {
    transition: transform 1s;
    transform: scale(1.2);
}

.recomendacion {
    font-size: 16px;
}

.nautilus__escena5 {
    position: absolute;
    animation: barco5 3s linear infinite;
    bottom: 20px;
}

@keyframes barco5 {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 17px;
    }
    100% {
        bottom: 20px;
    }
}

.baston__escena5 {
    position: absolute;
    top: 125px;
    left: 274px;
}
    
.baston__escena5:hover {
    transition-duration: 2s;
    transform: rotate(-80deg);
    transform-origin: 0% 0%;
}

.ola__escena5 {
    width: 100%;
    height: 25px;
    background-color: #4264b2;
    position: absolute;
    bottom: 0;
}

.footer {
    background-color: #262626;
    width: 100%;
    height: 50PX;
    box-shadow: 0px -8px 5px 0px rgba(120,120,111,0.75);
    -webkit-box-shadow: 0px -8px 5px 0px rgba(120,120,111,0.75);
    -moz-box-shadow: 0px -8px 5px 0px rgba(120,120,111,0.75);
    color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a:hover {
    color: #ffc34d;
    font-size: 20px;
}